---
title: Blognet
layout: splash
header:
  overlay_color: "#373737"
  overlay_filter: "0.8"
  overlay_image: "/assets/images/header.svg"
  caption: "Technomancer"
excerpt: ' Azure | .NET Tech Lead | C# | Full Stack Dev |  Speaker | Trainer | Event Sourcing | DDD | TDD <br/>
 <br /> 

[<i class="fab fa-twitter"/> Twitter](https://twitter.com/TomB_171296){: .btn .btn--twitter} 
[<i class="fab fa-linkedin"/> LinkedIN](https://www.linkedin.com/in/tvdb171296/){: .btn .btn--linkedin} 
[<img src="/assets/images/sessionize-avatar.svg" style="vertical-align: baseline; max-height: 11px"/> Sessionize](https://sessionize.com/tom-van-den-berg/){: .btn .btn--sessionize} 
[<i class="fab fa-github"></i> Github](https://github.com/tom171296){: .btn .btn--github}

'
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html type=grid %}
{% endfor %}

{% include paginator.html %}