.layout--single {
    p {
      font-family: $font-family !important;
    }
  
    .page__related {
      .grid__wrapper {
        display: flex;
        flex-flow: row wrap;
      }
  
      .grid__item {
        display: flex;
        align-self: stretch;
        width: 100%;
        margin: 10px 0;
  
        @media (min-width: 576px) {
          width: calc(100% / 2 - 20px);
          margin: 10px;
        }
  
        .archive__item {
          display: flex;
          flex-flow: column nowrap;
          width: 100%;
          padding: 20px;
          border-radius: 16px;
          box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  
          a {
            transition: color 0.3s ease-in;
  
            &:hover {
              color: $blue;
            }
          }
  
          &-excerpt {
            flex-grow: 1;
          }
  
          .page__meta {
            color: $blue;
          }
        }
      }
    }
  }