<section class="featured-posts-row">
    <section class="featured-post">
        <img class="post-image" src="./assets/img/post-1.jpg" />
    </section>

    <section class="featured-post">
        <a href="www.google.com">
             <img class="post-image" src="./assets/img/post-2.jpg" />
        </a>
       
        <section class="post-information">
            <div class="post-meta">
                    <a class="tag cat-2" href="./test.nl">TestTag</a>
                    <div class="date">23-09-2019</div>
            </div>
            <div>
                <h3 class="post-title">
                    Test titel hier, moet wel een lange titel kunnen zijn zodat het goed past.
                </h3>
            </div>
        </section>

    </section>
</section>