.new-item-row {
    min-height: 150px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-evenly;
}

.new-item {
    min-width: 450px;
    min-height: 400px;
    background-color: azure;
}

.new-item-image {
    background-color: chartreuse;
}